<div th:fragment="menu">
  <a th:href="@{/clientes}">Clientes</a>
  <a th:href="@{/camiones}">Camiones</a>
  <a th:href="@{/rutas}">Rutas</a>
  <a th:href="@{/viajes}">Viajes</a>
  <a th:href="@{/empleados}">Empleados</a>
  <a th:href="@{/conductores}">Conductores</a>
  <a th:href="@{/terminales}">Terminales</a>
  <a th:href="@{/estados}">Estados</a>
  <a th:href="@{/servicios}">Servicios</a>
  <a th:href="@{/tipos_boletos}">Tipos de Boletos</a>
  <a th:href="@{/puestos}">Puestos</a>
  <a th:href="@{/asientos}">Asientos</a>
  <a th:href="@{/pagos}">Pagos</a>
  <a th:href="@{/empresa}">Empresa</a>
  <a th:href="@{/ventas}">Ventas</a>
</div>
